.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
    overflow-y: auto;
    border-radius: 10px;
    
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}

@media (max-width: 700px) {

    .overlay-inner{
       
        width: 500px;
        height: 350px;
        font-size: 0.9rem;
        
    }
}

@media (max-width: 520px) {

    .overlay-inner{
       
        width: 400px;
        height: 320px;
        font-size: 0.7rem;  
          
    }

    .overlay-inner .inner-box img{
        margin-right: 20px;
        width: 110px;
        height: 160px;
    }

    img{
        width: 80%;
        height: 80%;
    }

 
}

@media (max-width: 420px) {

    .overlay-inner{
       
        width: 380px;
        height: 320px;
        font-size: 0.6rem;  
          
    }
  
 
}

@media (max-width: 390px) {

    .overlay-inner{
       
        width: 360px;
        height: 300px;
        font-size: 0.5rem;  
          
    }
 
}