nav {
    display: flex;
    justify-content: space-between;

}

nav img {

    width: 30%;
    height: 30%;
}

ul{
    display: flex;
    
     
}

li {

    display: flex;
    list-style: none;
    margin: 20px;
   
}

a{
    text-decoration: none;
    color: black;
}



@media (max-width: 500px) {


    nav li {

        font-size: small;
    }
 
}


@media (max-width: 400px) {


    nav li {

        font-size: smaller;
    }

    nav h2 {
        font-size: 16px;
    }
 
}



