.result{

    display: flex;
    list-style: none;
    width: 150px;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);     
}

.result button {
    background-color: #24a0ed;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;

}


@media (max-width: 520px) {

    .result{

        width: 120px;
          
    }
    
    img{
        width: 70%;
        height: 70%;
    }

    .result h3 {

        font-size: small;
    }
    
}

@media (max-width: 400px) {


    .result{

        width: 100px;
          
    }
    
    img{
        width: 50%;
        height: 50%;
    }

    .result button {

        size: 50%;
    }

    .result h3 {

        font-size: smaller;
    }

    .result p {
        font-size: smaller;
    }
 
 
}

